/* ==========================
RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    min-height:100vh;

    overflow-x:hidden;

    color:white;

    background:#080817;

}


/* ==========================
Animated Background
========================== */


body::before{

    content:"";

    position:fixed;

    inset:0;

    background:

    linear-gradient(
    45deg,
    #ff4d6d,
    #6c63ff,
    #4facfe,
    #ff9f43
    );

    background-size:400% 400%;

    animation:bgMove 15s infinite alternate;

    z-index:-3;

}


@keyframes bgMove{

0%{

background-position:0% 50%;

}

100%{

background-position:100% 50%;

}

}


/* ==========================
Lock Screen
========================== */


#lockScreen{

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

z-index:9999;

}


.lockBackground{

position:absolute;

inset:0;

background:

rgba(0,0,0,.45);

backdrop-filter:blur(25px);

}



/* ==========================
Glass Card
========================== */


.lockCard{

position:relative;

width:380px;

max-width:90%;

padding:45px 30px;

text-align:center;

border-radius:35px;

background:

rgba(255,255,255,.12);


border:

1px solid rgba(255,255,255,.25);


backdrop-filter:blur(25px);


box-shadow:

0 25px 60px rgba(0,0,0,.4),

0 0 40px rgba(255,255,255,.1);


}


/* ==========================
Profile Ring
========================== */


.profileRing{

width:170px;

height:170px;

padding:6px;

margin:auto;

border-radius:50%;


background:

linear-gradient(

45deg,

#ff4d6d,

#ffd166,

#4facfe,

#6c63ff,

#ff4d6d

);


background-size:400%;


animation:

glowRing 6s linear infinite;


}



@keyframes glowRing{


0%{

background-position:0%;

transform:rotate(0deg);

}


100%{

background-position:400%;

transform:rotate(360deg);

}


}



.profileRing img{


width:100%;

height:100%;


object-fit:cover;


border-radius:50%;


border:5px solid white;


}




.lockCard h1{


margin-top:25px;


font-size:38px;


font-weight:800;


}



.lockCard p{


margin-top:12px;


line-height:1.7;


font-size:16px;


opacity:.9;


}


/* ==========================
Password Box
========================== */


.passwordBox{


margin-top:30px;


}


.passwordBox input{


width:100%;


padding:16px;


border:none;


outline:none;


border-radius:18px;


background:

rgba(255,255,255,.18);


color:white;


text-align:center;


font-size:18px;


letter-spacing:5px;


backdrop-filter:blur(10px);


}


.passwordBox input::placeholder{


color:white;


opacity:.7;


}


/* ==========================
Unlock Button
========================== */


#unlockBtn{


margin-top:25px;


width:100%;


padding:16px;


border:none;


border-radius:20px;


cursor:pointer;


font-size:17px;


font-weight:700;


color:white;


background:

linear-gradient(
135deg,
#ff4d6d,
#ff758f
);


transition:.3s;


}


#unlockBtn:hover{


transform:translateY(-4px);


box-shadow:

0 15px 35px rgba(255,77,109,.5);


}



#errorText{


display:block;


margin-top:15px;


color:#ffd6d6;


}


/* ==========================
Loader
========================== */


#loader{


position:fixed;


inset:0;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


background:#080817;


z-index:99999;


}


#loader h1{


font-size:35px;


}


.hide{


display:none !important;


}
/* ==========================
Floating Hearts
========================== */

#hearts{

position:fixed;

inset:0;

overflow:hidden;

pointer-events:none;

z-index:1;

}


.heart{

position:absolute;

bottom:-50px;

font-size:25px;

animation:heartMove linear forwards;

}


@keyframes heartMove{


0%{

transform:translateY(0) scale(.5);

opacity:0;

}


20%{

opacity:1;

}


100%{

transform:translateY(-120vh) scale(1.5);

opacity:0;

}


}



/* ==========================
Stars
========================== */


#stars{

position:fixed;

inset:0;

pointer-events:none;

z-index:0;

}



.star{


position:absolute;


width:3px;


height:3px;


background:white;


border-radius:50%;


animation:starGlow 2s infinite alternate;


}



@keyframes starGlow{


from{

opacity:.2;

transform:scale(.5);

}


to{

opacity:1;

transform:scale(2);

}


}



/* ==========================
Sakura Petals
========================== */


#petals{


position:fixed;


inset:0;


overflow:hidden;


pointer-events:none;


z-index:1;


}


.petal{


position:absolute;


top:-50px;


font-size:22px;


animation:petalFall linear forwards;


}



@keyframes petalFall{


0%{


transform:

translateY(-50px)
rotate(0deg);


opacity:1;


}



100%{


transform:

translateY(110vh)
translateX(120px)
rotate(720deg);


opacity:0;


}


}



/* ==========================
Hero Section
========================== */


.hero{


min-height:100vh;


display:flex;


justify-content:center;


align-items:center;


padding:30px;


}



.glass{


width:800px;


max-width:95%;


padding:60px 40px;


text-align:center;


border-radius:35px;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);



border:

1px solid rgba(255,255,255,.2);



box-shadow:

0 25px 60px rgba(0,0,0,.35);



}



.glass h3{


font-size:25px;


margin-bottom:20px;


}



.glass h1{


font-size:60px;


line-height:1.2;


font-weight:800;


}



.glass p{


margin-top:25px;


font-size:18px;


line-height:2;


}




#startBtn{


margin-top:35px;


padding:17px 45px;


border:none;


border-radius:50px;


cursor:pointer;


font-size:18px;


font-weight:700;


color:white;



background:


linear-gradient(

135deg,

#6c63ff,

#4facfe

);



transition:.3s;


}



#startBtn:hover{


transform:translateY(-5px);


box-shadow:

0 15px 35px rgba(79,172,254,.5);


}




/* ==========================
Surprise Section
========================== */


#surprise{


padding:100px 20px;


text-align:center;


min-height:100vh;


}



#surprise h2{


font-size:45px;


}



.wish{


max-width:850px;


margin:30px auto;


font-size:18px;


line-height:2;


}
/* ==========================
Cake Design
========================== */

.cake{

position:relative;

width:260px;

height:230px;

margin:70px auto;


}



.cakeBottom{

position:absolute;

bottom:0;

left:0;

width:260px;

height:90px;

background:#ff8fab;

border-radius:18px;

box-shadow:

0 15px 25px rgba(0,0,0,.25);


}



.cakeMiddle{

position:absolute;

bottom:80px;

left:20px;

width:220px;

height:70px;

background:#ffd166;

border-radius:18px;


}



.cakeTop{

position:absolute;

bottom:145px;

left:45px;

width:170px;

height:55px;

background:white;

border-radius:18px;


}



/* ==========================
Candles
========================== */


.candles{


position:absolute;


bottom:195px;


left:50%;


transform:translateX(-50%);


display:flex;


gap:25px;


}



.candle{


width:12px;


height:50px;


background:white;


border-radius:10px;


position:relative;


}




.flame{


position:absolute;


top:-18px;


left:50%;


width:15px;


height:22px;


transform:translateX(-50%);


background:#ffd166;


border-radius:50%;


box-shadow:

0 0 20px orange;


animation:flicker .3s infinite alternate;


}



@keyframes flicker{


from{


transform:translateX(-50%) scale(1);


}


to{


transform:translateX(-50%) scale(.75);


}


}



.off .flame{


display:none;


}



/* ==========================
Buttons
========================== */


#blowBtn,

#letterBtn{


margin:20px 10px;


padding:16px 35px;


border:none;


border-radius:50px;


cursor:pointer;


font-size:17px;


font-weight:700;


color:white;


background:

linear-gradient(

135deg,

#ff4d6d,

#ff758f

);


transition:.3s;


}



#blowBtn:hover,

#letterBtn:hover{


transform:translateY(-4px);


box-shadow:

0 15px 35px rgba(255,77,109,.45);


}




/* ==========================
Letter
========================== */


#letter{


max-width:850px;


margin:60px auto;


padding:45px;


border-radius:30px;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);


border:

1px solid rgba(255,255,255,.2);



box-shadow:

0 25px 50px rgba(0,0,0,.3);


}



#letter h2{


font-size:35px;


margin-bottom:25px;


}



#letter p{


font-size:18px;


line-height:2;


white-space:pre-line;


}




/* ==========================
Ending Screen
========================== */


#ending{


min-height:100vh;


display:flex;


justify-content:center;


align-items:center;


padding:30px;


text-align:center;


}



#ending h1{


font-size:60px;


}



#ending p{


font-size:20px;


margin:25px 0;


line-height:2;


}



#ending h3{


color:#ffd166;


font-size:25px;


}



/* ==========================
Responsive
========================== */


@media(max-width:768px){


.lockCard{


padding:35px 22px;


}


.profileRing{


width:140px;


height:140px;


}


.lockCard h1{


font-size:30px;


}



.glass h1{


font-size:38px;


}


.glass p{


font-size:15px;


}



#surprise h2{


font-size:32px;


}



.cake{


transform:scale(.8);


}


#letter{


padding:25px;


}



#ending h1{


font-size:38px;


}



}



@media(max-width:450px){


#startBtn,

#blowBtn,

#letterBtn,

#unlockBtn{


width:100%;


}



.glass{


padding:35px 20px;


}



}